<!DOCTYPE html>
<html lang="en" ng-app="Komodo Calc" ng-controller="dogeController" ng-cloak>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="canonical" href="http://calc.komodo.services" />
  <!-- build:css doge.min.css -->
  <link rel="stylesheet" href="foundation.min.css" />
  <link rel="stylesheet" href="so.css" />
  <!-- endbuild -->  
  <title ng-if="singleDogecoinPriceInBTC" ng-bind="singleDogecoinPriceInBTC + ' - Komodo Price Calculator - KMD Calculator '">Komodo Price Calculator - KMd Calculator - Komodo to Bitcoin and USD - Komodo Calc</title>
  <meta name="description" content="Live Komodo price calculator. Compare Komodo value to Bitcoin and USD in real time. KMD/BTC/FIAT markets.">
</head>

<body>

  <div class="row">
    <div class="so-centered small-12 small-centered columns">
      <h1>Komodo Price Calculator</h1>
    </div>
  </div>

  <div class="row">
    <div class="so-centered small-12 columns small-centered">
      <a class="nav-item on" href="http://calc.komodo.services">Calculator</a>
      <a class="nav-item" href="http://calc.komodo.services/widgets">Widgets</a>
    </div>
  </div>

  <div class="row very-row">
    <div class="so-centered small-12 small-centered columns">
      <p><a href="https://komodo.services/" target="_blank">Komodo</a> is a digital currency similar to <a href="https://bitcoin.org/" target="_blank">Bitcoin</a> but with Zcash privacy and it’s own amaxing features such as delayed proof of work (dPoW).</p>
      <p>Use the boxes below to enter values and receive instant conversion rates to and from Komodo, Bitcoin and <a href="https://en.wikipedia.org/wiki/Fiat_money" target="_blank">FIAT currencies</a>.</p>
    </div>
  </div>

  <div class="row">

    <div class="small-6 columns">
      <h3><input class="much-input" ng-model="numberOfDogecoinInput" ng-change="amendDogecoinInput(numberOfDogecoinInput)" type="tel" placeholder="KMD" autofocus /></h3>
    </div>

    <div class="small-6 columns">
      <h3>Komodo</h3>
    </div>

  </div>

  <div class="row">
    <div class="so-centered small-2 small-centered columns">
      <p class="equals">=</p>
    </div>
  </div>

  <div class="row">
    <div class="very-value small-6 columns" >
      <h3><input class="much-input" ng-model="numberOfBTCInput" ng-change="amendBTCInput(numberOfBTCInput)" type="tel"/></h3>
    </div>

    <div class="small-6 columns">
      <h3>Bitcoin</h3>
    </div>
  </div>

  <div class="row">
    <div class="so-centered small-2 small-centered columns">
      <p class="equals">=</p>
    </div>
  </div>

  <div class="row">
    <div class="very-value small-6 columns" >
      <h3><input class="much-input" ng-model="numberOfFIATInput" ng-change="amendFIATInput(numberOfFIATInput)" type="tel"/></h3>
    </div>

    <div class="such-left small-4 columns">
      <select class="much-input" ng-model="selectedCurrency" ng-options="currency.name for currency in currencies" ng-change="changeCurrency(selectedCurrency.name)"></select><br>
    </div>
  </div>

  <div class="row very-row">
    <div class="so-centered small-12 columns small-centered">
      <a class="nav-item" href="https://github.com/komodoservices/komodo-calc" target="_blank">Github</a>
      <a class="nav-item" href="https://twitter.com/komodoservices" target="_blank">Twitter</a>
    </div>
  </div>

  <div class="row very-row">
    <div class="so-centered small-12 small-centered columns">
      <h6>Donate: <a href=“https://explorer.komodo.services/address/RCBAk2iW2A5GGQQ6u1dtcK1ZGRr8q9cTRR” target=“_blank”>RCBAk2iW2A5GGQQ6u1dtcK1ZGRr8q9cTRR</a> </h6>
    </div>
  </div>  

  <!-- build:js doge.min.js -->
  <script src="angular.min.js"></script>
  <script src="such.js"></script>
  <script src="very.js"></script>
  <!-- endbuild -->

</body>

</html>
